FOUND.*
System\ Volume\ Information*
lvui*
Games/*
game_picture/
lib/lvui
lib/retro*
ppsspp/
!ppsspp/PSP/SYSTEM/
retroarch/
res/*.db
!retroarch/*.cfg
!retroarch/config/**/**
!retroarch/saves/**/**
retro_lib/
!/start_game.sh
/*.sh
database.sqlite3
